* {
    box-sizing: border-box;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma;
}

body {
    position: relative;
    background: rgb(3, 51, 95);
}

header {
    z-index: 1;
    position: relative;
}

nav {
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: 20% 80%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(3, 51, 95, 0.2);
    color: white;
    transition: var(--navTrans, 0.3s);
}

nav.scrolled {
    background: rgba(3, 51, 95, 0.8);
}

nav.hidden {
    top: -15vh;
}

div#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

div#logo svg {
    filter: drop-shadow(0 0 5px black);
    transition: var(--logoTrans, 0.3s);
}

div#logo svg:hover {
    scale: 1.1;    
}

ul.menu {
    list-style-type: none;
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: right;
    align-items: center;
}

li.application {
    padding: 0 30px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    height: 75%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    transition: border var(--appLink, 0.3s);
}

li.application:hover {
    border-bottom: 4px solid rgb(167, 195, 219);
}

li.settings {
    margin: 0 5vw;
    cursor: pointer;
}

li.settings svg {
    filter: drop-shadow(0 0 5px black);
    transition: var(--settingsBtn, 0.3s);
}

li.settings svg:hover {
    transform: rotate(45deg);
}

li.settings svg.app {
    position: relative;
    top: 16vh;
    filter: drop-shadow(0 0 10px black);
    animation: slide-down 0.4s 1;
}
@keyframes slide-down {
    0%   {top: 0;}
    100% {top: 11vh;}
}

footer {
    background: rgb(3, 51, 95);
    color: white;
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 3em;
}

footer p.info {
    align-self: center;
}

footer img {
    width: 40px;
    height: 40px;
    float: right;
    border-radius: 50%;
    background: radial-gradient(closest-corner at 50% 55%,
    transparent 20px, #3d3dff 10px);
    transition: var(--footerImgHover, 0.5s);
}

footer img:hover {
    background: radial-gradient(closest-corner at 50% 55%,
    black 20px, #3d3dff 10px);
    box-shadow: 0 0 20px 5px black;
}

@media screen and (max-width: 1000px), (max-height: 500px) {
    nav {
        height: auto;
    }
    nav svg {
        scale: 0.50;
    }
    div#logo svg:hover {
        scale: 0.55;    
    }
    li.application {
        font-size: 10px;
        padding: 0 15px;
    }
}

/* ^ główne ustawienia */
section {
    height: max(450vh, 170vh + 2500px);
    position: relative;
}

section.hidden {
    opacity: 0;
    overflow: hidden;
    transition: 1s;
}

div.frontpage {
    height: 100vh;
    width: 100%;
    position: relative;
}

div.frontback {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    min-height: 100%;
}

video#frontback {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

div.fronttext {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 0%);
}

div.fronttext > h1 {
    color: white;
    font-size: 80px;
    text-shadow: 0px 0px 10px rgb(127, 150, 175);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
}

div.separator {
    height: 30vh;
    background: linear-gradient(to bottom, transparent 15%, black 50%);
}

div.choose {
    height: 40vh;
    background: rgb(3, 51, 95);
    display: flex;
    justify-content: center;
    align-items: center;
}

div.choose > h1 {
    color: white;
    font-size: 60px;
    text-shadow: 0px 0px 10px rgb(97, 113, 129);
}

div.applications {
    width: 100%;
    height: calc(280vh + 1px);
    background-color: #cccccc;
    background-image: url("img/background2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

div.appcard {
    width: 70%;
    height: 63vh;
    background: linear-gradient(to right, rgb(167, 195, 219) 60%,
    rgb(37, 122, 196) 60%);
    border-radius: 15px;
    display: grid;
    grid-template-columns: 60% 40%;
    box-shadow: 0px 0px 25px gray;
    transition: 0.7s;
}

div.appdesc {
    padding: 5vw;
}

div.appdesc > h2 {
    margin: 1em 1em 1em 0;
    font-size: 40px;
    color: white;
    -webkit-text-stroke-width: 2.5px;
    -webkit-text-stroke-color: black;
    paint-order: stroke fill;
}

div.appdesc > button {
    width: 40%;
    padding: 1em;
    margin-top: 2em;
    border: none;
    border-radius: 40px;
    background: rgb(37, 122, 196);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

div.appdesc > button:hover {
    background: rgb(39, 130, 209);
}

div.appdesc > button:active {
    background: rgb(31, 101, 163);
}

div.appshow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

div.loading-icons {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;
}

div.loading-icons svg {
    display: none;
    animation: none 1s 1 forwards;
}

.svg-text {
    font-family: 'Archivo';
}

div.appshow-container {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    filter: drop-shadow(0 0 5px black);
}

div.appshow-wheel {
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(rgb(167, 195, 219) 22.5deg,
    rgb(167, 195, 219) 67.5deg, rgb(6, 68, 126) 67.5deg, rgb(6, 68, 126) 112.5deg,
    rgb(67, 115, 156) 112.5deg, rgb(67, 115, 156) 157.5deg,
    rgb(62, 130, 189) 157.5deg, rgb(62, 130, 189) 202.5deg);
    border: 4px solid rgb(3, 51, 95);
    border-radius: 50%;
    position: relative;
    animation: rotation 9s infinite linear;
}

div.appshow-wheel::after {
    content: '';
    width: 30px;
    height: 30px;
    background: rgb(3, 51, 95);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

svg.appshow-wheel-pointer {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

svg.appshow-rng {
    animation: scaling 3s infinite linear;
}
@keyframes scaling {
    0%   {scale: 1.4;}
    50%  {scale: 1.7;}
    100% {scale: 1.4;}
}

div.appshow-opener {
    width: 400px;
    height: 100%;
    position: relative;
    background: radial-gradient(rgb(167, 195, 219), rgb(6, 68, 126));
    border: 3px solid rgb(3, 51, 95);
    border-radius: 40px;
    overflow: hidden;
}

div.appshow-opener-block {
    width: 110px;
    height: 80px;
    background: rgb(167, 195, 219);
    border: 2px solid rgb(3, 51, 95);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 0%;
}

div.appshow-opener-block:nth-child(1) {
    transform: translate(-75px, -50%);
    animation: small-rolling 8s infinite linear -5.33s;
}
div.appshow-opener-block:nth-child(2) {
    transform: translate(65px, -50%);
    animation: small-rolling 8s infinite linear -2.66s;
}
div.appshow-opener-block:nth-child(3) {
    transform: translate(205px, -50%);
    animation: small-rolling 8s infinite linear -0s;
}
@keyframes small-rolling {
    0%   {transform: translate(300px, -50%);}
    100% {transform: translate(-140px, -50%);}
}

@media screen and (max-width: 1000px), (max-height: 500px) {
    div.fronttext h1 {
        font-size: 45px;
    }
    div.choose h1 {
        font-size: 25px;
    }
    div.applications {
        height: max(calc(280vh + 1px), 2500px);
    }
    div.appcard {
        width: 75%;
        height: max(75vh, 600px);
        grid-template-columns: auto;
        grid-template-rows: 50% 50%;
        background: linear-gradient(to bottom, rgb(167, 195, 219) 50%,
        rgb(37, 122, 196) 50%);
        position: relative;
    }
    div.appdesc h2 {
        font-size: 24px;
        -webkit-text-stroke-width: 1px;
        margin: 0 0 5px 0;
    }
    div.appdesc p {
        font-size: 12px;
    }
    div.appdesc button {
        min-width: 100px;
        width: unset;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
    }
    div.appshow {
        height: 100%;
    }
    div.appshow-container {
        width: 150px;
        height: 150px;
    }
    @keyframes scaling {
        0%   {scale: 1.2;}
        50%  {scale: 1.5;}
        100% {scale: 1.2;}
    }
    div.appshow-opener-block {
        width: 80px;
        height: 60px;
    }

    div.appshow-opener-block:nth-child(1) {
        transform: translate(-66px, -50%);
        animation: small-rolling 6s infinite linear -4s;
    }
    div.appshow-opener-block:nth-child(2) {
        transform: translate(31px, -50%);
        animation: small-rolling 6s infinite linear -2s;
    }
    div.appshow-opener-block:nth-child(3) {
        transform: translate(128px, -50%);
        animation: small-rolling 6s infinite linear -0s;
    }
    @keyframes small-rolling {
        0%   {transform: translate(170px, -50%);}
        100% {transform: translate(-140px, -50%);}
    }
}

/* ^ strona główna */
div.settingspage {
    width: 40%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -40%;
    background: rgba(128, 128, 128, 0.5);
    border-right: 2px solid black;
    color: white;
    backdrop-filter: blur(10px);
    z-index: 10;
    transition: var(--settingsPanel, 0.4s);
}

div.settings-visible {
    position: fixed;
    top: 0;
    left: 0;
}

div.settingspage svg#cross {
    position: absolute;
    top: 3%;
    right: 5%;
    filter: drop-shadow(0 0 5px black);
    cursor: pointer;
}

div.settingspage h2 {
    color: white;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 200%;
    filter: drop-shadow(0 0 5px black);
}

div.clickables {
    width: 75%;
    height: 20%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0%);
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    align-items: center;
    font-size: 200%;
}

div.clickables label {
    justify-self: left;
    filter: drop-shadow(0 0 5px black);
}

div.clickables input {
    justify-self: right;
    width: 40px;
    height: 40px;
    cursor: pointer;
    filter: drop-shadow(0 0 5px black);
}

@media screen and (max-width: 1000px), (max-height: 500px) {
    div.settingspage {
        width: 100%;
        border: none;
        left: -100%;
    }
    div.settings-visible {left: 0;}
    div.settingspage h2 {
        width: 100%;
        text-align: center;
    }
    div.clickables {
        width: 85%;
        grid-template-columns: 60% 40%;
    }
}

/* ^ boczne ustawienia */
div.wheel, div.generator, div.opener {
    min-height: 150vh;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    animation: none 1s 1;
}

div.wheel-front, div.rng-front, div.opener-front {
    margin-top: 7%;
    width: 75%;
    height: 750px;
    min-height: 80vh;
    background: 
    repeating-linear-gradient(310deg, rgba(128, 128, 128, 0.4) 12%,
   rgba(211, 211, 211, 0.3) 32%, rgba(128, 128, 128, 0.4) 40%,
   rgba(128, 128, 128, 0.4) 60%);
    border: 6px solid rgb(3, 51, 95);
    border-radius: 50px;
    overflow: hidden;
    display: grid;
    grid-template: 80px / auto;
    align-items: center;
}

h1.wheel-title, h1.rng-title, h1.opener-title {
    color: white;
    text-align: center;
    font-size: 250%;
    justify-self: center;
    overflow: hidden;
    filter: drop-shadow(0 0 10px black);
}

h1.wheel-settings-title, h1.rng-settings, h1.opener-settings-title {
    margin: 10% 0 3% 0;
    color: white;
    font-size: 250%;
    filter: drop-shadow(0 0 10px black);
}

div.wheel-title-edit, div.rng-title-edit, div.opener-title-edit {
    width: 60%;
    margin: 5%;
    display: grid;
    grid-template-columns: auto 80%;
    font-weight: bold;
    font-size: 200%;
    color: white;
}

div.wheel-title-edit label, div.wheel-options-edit label {
    filter: drop-shadow(0 0 10px black);
}

div.wheel-title-edit input, div.rng-title-edit input, div.opener-title-edit input {
    height: 40px;
}

div.wheel-settings, div.rng-options, div.opener-settings {
    width: 75%;
    margin: 20px;
    display: grid;
    grid-template-columns: auto;
    gap: 50px;
}

div.wheel-options-edit, div.opener-options-edit {
    color: white;
    display: grid;
    align-items: center;
    grid-template-columns: 20% 10% 70%;
    justify-self: center;
    width: 85%;
}

div.wheel-options-edit label, div.opener-options-edit label {
    font-size: 200%;
    justify-self: center;
}

div.wheel-options-edit input, div.opener-options-edit input {
    width: 70px;
    height: 40px;
    font-size: 150%;
}

div.wheel-options-buttons, div.opener-options-buttons {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    align-items: center;
}

div.wheel-set-buttons, div.opener-set-buttons {
    display: grid;
    grid-template-columns: 50px auto;
}

div.wheel-plus-minus, div.opener-plus-minus {
    display: flex;
    flex-direction: column;
}

button.wheel-plus, button.wheel-minus, button.opener-plus, button.opener-minus {
    max-width: 40px;
    max-height: 40px;
}

button.wheel-set, button.wheel-apply, button.opener-set, button.opener-apply {
    width: 150px;
    height: 80px;
}

button.app-btn {
    background: rgb(37, 122, 196);
    border: 4px solid rgb(3, 51, 95);
    border-radius: 15px;
    font-size: min(24px, 150%);
    color: white;
    cursor: pointer;
}

button.app-btn:hover {
    background: rgb(39, 130, 209);
}

button.app-btn:active {
    background: rgb(31, 103, 167);
}

textarea#rng-texts, textarea#wheel-paste-options, textarea#opener-labels-options {
    resize: none;
}

div.wheel-paste, div.opener-labels {
    width: 600px;
    height: 400px;
    padding: 0 20px;
    background: rgb(67, 115, 156);
    border: 6px solid rgb(3, 51, 95);
    border-radius: 10px;
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, 0);
    visibility: hidden;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    transition: visibility 0.4s, top var(--topTrans, 0.7s);
}

div.wheel-paste-visible, div.opener-labels-visible {
    top: 5%;
    visibility: visible;
}

div.wheel-paste-buttons, div.opener-labels-buttons {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    align-items: center;
}

div.wheel-misc, div.opener-misc {
    height: 20vh;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    align-items: center;
}

div.return {
    position: fixed;
    top: 3%;
    left: 3%;
    display: none;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    filter: drop-shadow(0 0 10px black);
    opacity: 0;
    z-index: 10;
    animation: return-appear 1s 1;
}
@keyframes return-appear {
    0%   {opacity: 0;}
    50%  {opacity: 1;}
    100% {opacity: 1;}
}
@keyframes return-disappear {
    0%   {opacity: 1;}
    100% {opacity: 0;}
}

div.return h2 {
    margin-left: 8px;
    margin-top: 4px;
    color: white;
}

div.alert {
    width: 350px;
    height: 170px;
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 10px;
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: all 0s, top var(--topTrans, 0.7s);
}

div.alert-red {
    background: rgba(199, 0, 0, 0.6);
    border: 3px solid red;
    color: red;
    filter: drop-shadow(0 0 3px black);
}

div.alert-green {
    background: rgba(0, 133, 0, 0.6);
    border: 3px solid rgb(0, 185, 0);
    color: rgb(0, 209, 0);
    filter: drop-shadow(0 0 3px gray);
}

div.alert-visible {top: 5%;}

div.application-end {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
@keyframes fade-in {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fade-out {
    0%   {opacity: 1;}
    100% {opacity: 0;}
}

div.wheel-result, div.opener-result {
    width: min(400px, 95vw);
    height: 300px;
    background: 
    repeating-linear-gradient(310deg, rgba(128, 128, 128, 0.6) 12%,
   rgba(211, 211, 211, 0.5) 32%, rgba(128, 128, 128, 0.6) 40%,
   rgba(128, 128, 128, 0.6) 60%);
    border: 4px solid rgb(3, 51, 95);
    border-radius: 10px;
    color: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    paint-order: stroke fill;
    text-align: center;
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 175%;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
    transition: all 0s, visibility 0.4s, top var(--topTrans, 0.7s);
}

@media screen and (max-width: 1000px), (max-height: 500px) {
    div.wheel-paste, div.opener-labels {top: -120%;}
    div.return {top: 1.5%;}
    div.wheel-result, div.opener-result {
        top: -100%;
    }
}

div.wheel-result-visible, div.opener-result-visible {top: 20%; visibility: visible;}

/* ^ wspólne elementy aplikacji */
div.wheel {
    background: linear-gradient(to bottom, rgb(167, 195, 219), rgb(3, 51, 95));
}

div.wheel-zone {
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    position: relative;
}

div.wheel-elements {
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(rgb(167, 195, 219) 22.5deg,
    rgb(167, 195, 219) 67.5deg, rgb(6, 68, 126) 67.5deg, rgb(6, 68, 126) 112.5deg,
    rgb(67, 115, 156) 112.5deg, rgb(67, 115, 156) 157.5deg,
    rgb(62, 130, 189) 157.5deg, rgb(62, 130, 189) 202.5deg);
    border: 4px solid rgb(3, 51, 95);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: rotate(-90deg);
    animation: rotation 12s infinite linear;
}
@keyframes rotation {
    0%   {rotate: 0deg;}
    100% {rotate: 360deg;}
}

div.wheel-element {
    position: absolute;
    color: white;
    filter: drop-shadow(0 0 3px black);
}

div.wheel-element-default:nth-child(1) {
    transform: rotate(0deg) translate(175px) rotate(0deg);
}
div.wheel-element-default:nth-child(2) {
    transform: rotate(45deg) translate(175px) rotate(0deg);
}
div.wheel-element-default:nth-child(3) {
    transform: rotate(90deg) translate(175px) rotate(0deg);
}
div.wheel-element-default:nth-child(4) {
    transform: rotate(135deg) translate(175px) rotate(0deg);
}
div.wheel-element-default:nth-child(5) {
    transform: rotate(180deg) translate(175px) rotate(0deg);
}
div.wheel-element-default:nth-child(6) {
    transform: rotate(225deg) translate(175px) rotate(0deg);
}
div.wheel-element-default:nth-child(7) {
    transform: rotate(270deg) translate(175px) rotate(0deg);
}
div.wheel-element-default:nth-child(8) {
    transform: rotate(315deg) translate(175px) rotate(0deg);
}

svg.wheel-pointer {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

button.wheel-spin {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(3, 51, 95);
    border: none;
    border-radius: 50%;
    font-size: 175%;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    animation: none 1s 1 forwards;
}
@keyframes text-color-in {
    0%   {color: transparent;}
    100% {color: white;}
}
@keyframes text-color-out {
    0%   {color: white;}
    100% {color: transparent;}
}

button.wheel-spin:hover {
    filter: drop-shadow(0 0 3px white);
}

div.wheel-options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.wheel-options input {
    width: 85%;
    height: 40px;
    margin: 10px 0;
}

button.wheel-paste-list, button.wheel-edit-colors {
    width: 200px;
    height: 80px;
}

h2.wheel-paste-header, p.wheel-paste-info, h2.wheel-colors-header {
    color: white;
    filter: drop-shadow(0 0 5px black);
}

div.wheel-paste-buttons button {
    height: 70px;
}

div.wheel-paste-buttons button, div.wheel-colors button {
    width: 100px;
}

div.wheel-colors {
    width: 300px;
    height: 350px;
    padding: 0 20px;
    background: rgb(67, 115, 156);
    border: 6px solid rgb(3, 51, 95);
    border-radius: 10px;
    position: fixed;
    top: 50%;
    right: -50%;
    transform: translate(0%, -50%);
    visibility: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    transition: visibility 0.4s, right var(--rightTrans, 0.7s);
}

div.wheel-colors-visible {right: 5%; visibility: visible;}

div.wheel-colors-container {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
}

div.wheel-colors input {
    width: 100%;
    height: 40px;
    padding: 0;
    background: transparent;
    border: none;
    appearance: none;
    cursor: pointer;
}

div.wheel-colors input::-webkit-color-swatch {
    border: 1px solid black;
}

div.wheel-colors input::-moz-color-swatch {
    border: 1px solid black;
}

h2.wheel-colors-header {
    text-align: center;
}

button.wheel-colors-apply {
    height: 60px;
}

@media screen and (max-width: 1000px), (max-height: 500px) {
    div.wheel-front {
        width: 90%;
    }
    div.wheel-zone {
        width: 300px;
        height: 300px;
    }
    div.wheel-element-default {
        display: none;
    }
    button.wheel-spin {
        width: 60px;
        height: 60px;
        font-size: 100%;
    }
    div.wheel-title-edit {
        width: 80%;
        grid-template-columns: auto;
    }
    div.wheel-title-edit label {
        justify-self: left;
    }
    div.wheel-title-edit input {
        width: 100%;
    }
    div.wheel-settings {
        width: 90%;
    }
    div.wheel-options-edit {
        grid-template-columns: auto auto;
        gap: 1em;
    }
    div.wheel-options-edit label {
        justify-self: right;        
    }
    div.wheel-options-buttons {
        grid-column: 1 / span 2;
    }
    button.wheel-set, button.wheel-apply {
        width: 120px;
    }
    div.wheel-misc button {
        width: 150px;
        font-size: 125%;
    }
    div.wheel-paste {
        width: 90%;
    }
    div.wheel-paste-visible {
        top: 8%;
        height: min(400px, 78vh);
    }
    div.wheel-colors {
        height: max(38vh, 250px);
        right: -100%;
    }
    div.wheel-colors-visible {right: 5%; visibility: visible;}
    div.wheel-colors-container {
        grid-template-columns: auto auto;
    }
    div.wheel-colors input {height: max(8vh, 50px);}
}

/* ^ koło fortuny */
div.generator {
    background: radial-gradient(rgb(167, 195, 219), rgb(3, 51, 95));
}

div.rng-front {
    width: 80%;
    height: 700px;
    grid-template: 80px / 60% 40%;
}

h1.rng-title {
    grid-column: 1 / span 2;
}

div.rng-result {
    width: 90%;
    height: 90%;
    background: rgb(167, 195, 219);
    border: 4px solid rgb(3, 51, 95);
    border-radius: 20px;
    justify-self: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
}

p.rng-result-value {
    max-width: 95%;
    font-size: 300%;
}

p.rng-counter {
    position: absolute;
    bottom: 5%;
    visibility: hidden;
}

button.rng-generate {
    width: 60%;
    height: 30%;
    justify-self: center;
    text-align: center;
    border-radius: 20px;
    font-size: 200%;
}

div.rng-options {
    grid-template-columns: 20% auto;
    column-gap: 15%;
}

div.rng-option {
    margin: 40px 0;
    color: white;
    font-size: 200%;
}

div.rng-title-edit label, div.rng-option label, div.rng-option span {
    filter: drop-shadow(0 0 5px black);
}

div.rng-option-label {
    display: grid;
    grid-template-columns: 80% 20%;
}

div.rng-option-label label {
    justify-self: left;
}

div.rng-option-label input {
    justify-self: right;
}

div.rng-option:nth-of-type(3) {
    align-items: center;
}

input[type="radio"] {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

div.rng-option-number {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

div.rng-option-number label {
    font-size: 75%;
    justify-self: end;
    align-self: center;
}

div.rng-option-number input {
    margin-left: 5px;
    width: 10em;
}

div.rng-option-text, div.rng-option-yes-no {
    display: grid;
    grid-template-columns: auto auto;
}

div.rng-option-text label {
    justify-self: left;
    align-self: center;
}

div.rng-option-text label span {
    font-size: 75%;
}

div.rng-option-yes-no input {
    width: 40px;
    height: 40px;
    justify-self: center;
    cursor: pointer;
}

div.rng-buttons {
    height: 25vh;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button.rng-reset, button.rng-apply {
    width: 150px;
    height: 80px;
}

div.rng-disabled {
    color: gray;
    filter: blur(3px);
    transition: 0.4s;
}

@media screen and (max-width: 1000px), (max-height: 500px) {
    div.generator {
        width: 100%;
    }
    div.rng-front {
        width: 90%;
        grid-template: 80px 60% / auto;
    }
    h1.rng-title {
        grid-column: auto;
        font-size: 175%;
    }
    button.rng-generate {
        width: 90%;
        height: 70%;
        border-radius: 40px;
    }
    div.rng-title-edit {
        width: 80%;
        grid-template-columns: auto;
    }
    div.rng-title-edit label {
        justify-self: left;
    }
    div.rng-title-edit input {
        width: 100%;
    }
    div.rng-options {
        width: 90%;
        margin: 10px;
        grid-template-columns: auto;
        column-gap: 15%;
    }
    div.rng-option-label {
        width: 90%;
        grid-template-columns: 50% 50%;
        justify-self: center;
    }
    div.rng-option:nth-child(even) {
        grid-template-columns: auto;
        margin: 0 5%;
    }
    div.rng-option-number {gap: 5px;}
    div.rng-option-number label {
        justify-self: start;
    }
    div.rng-option-number input {
        height: 2em;
        width: 100%;
        margin-left: 0;
    }
    div.rng-option-text label span {
        font-size: 65%;
    }
    div.rng-option:nth-child(6) {
        grid-template-columns: auto 11%;
    }

}

/* ^ generator rng */
div.opener {
    background: linear-gradient(to bottom, rgb(3, 51, 95),
    rgb(167, 195, 219) 40%, rgb(167, 195, 219) 60%, rgb(3, 51, 95));
    overflow: hidden;
}

div.opener-zone {
    width: min(700px, 95%);
    height: 500px;
    position: relative;
    background: radial-gradient(rgb(167, 195, 219), rgb(6, 68, 126));
    border: 4px solid rgb(3, 51, 95);
    border-radius: 50px;
    justify-self: center;
    overflow: hidden;
}

div.opener-blocks {
    width: 2000px;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    animation: none 7s 1 linear;
}
@keyframes rolling {
    0%    {right: 50px;}
    100%  {right: var(--spinShift, 12740px);}
}

div.opener-block {
    width: 250px;
    height: 200px;
    background: rgb(167, 195, 219);
    border: 3px solid rgb(3, 51, 95);
    border-radius: 10px;
    position: relative;
}

div.opener-block-default {
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.opener-block-default:nth-child(1) {
    transform: translate(-108px, -50%);
    animation: rolling-default 10s infinite linear -7.5s;
}
div.opener-block-default:nth-child(2) {
    transform: translate(223px, -50%);
    animation: rolling-default 10s infinite linear -5s;
}
div.opener-block-default:nth-child(3) {
    transform: translate(551px, -50%);
    animation: rolling-default 10s infinite linear -2.5s;
}
div.opener-block-default:nth-child(4) {
    transform: translate(-270px, -50%);
    animation: rolling-default 10s infinite linear 0s;
}
@keyframes rolling-default {
    0%   {transform: translate(950px, -50%);}
    100% {transform: translate(-270px, -50%);}
}

div.opener-index {
    width: 30px;
    height: 230px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

svg.opener-pointer:nth-child(2) {
    rotate: 180deg;
}

button.opener-roll {
    width: 200px;
    height: 80px;
    justify-self: center;
    border-radius: 20px;
    font-size: 200%;
}

div.opener-title-edit label, div.opener-options-edit label {
    filter: drop-shadow(0 0 10px black);
}

div.opener-options-edit {
    color: white;
    display: grid;
    align-items: center;
    grid-template-columns: 20% 10% 70%;
    justify-self: center;
    width: 85%;
}

div.opener-options {
    width: 80%;
    height: 490px;
    background: radial-gradient(rgb(167, 195, 219), rgb(6, 68, 126));
    border: 6px solid rgb(3, 51, 95);
    border-radius: 10px;
    justify-self: center;
    overflow: hidden;
}

div.opener-options-zone {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px 50px;
    justify-self: center;
    overflow-y: auto;
}

div.opener-option-block {
    width: 250px;
    height: 200px;
    background: rgb(167, 195, 219);
    border: 3px solid rgb(3, 51, 95);
    border-radius: 10px;
    position: relative;
}

span.opener-option-text {
    width: 100%;
    position: absolute;
    bottom: -14%;
    left: 50%;
    transform: translate(-50%, 0);
    color: transparent;
    text-align: center;
    font-size: 75%;
    animation: text-color-in 0.3s 0.4s 1 forwards;
}

div.opener-misc input {
    display: none;
}

button.opener-images, button.opener-edit-labels {
    width: 200px;
    height: 80px;
}

h2.opener-labels-header, p.opener-labels-info {
    color: white;
    filter: drop-shadow(0 0 5px black);
}

div.opener-labels-buttons button {
    height: 70px;
    width: 100px;
}

div.opener-result div span {
    color: white;
    font-size: 50%;
    animation: none;
    -webkit-text-stroke-width: 0;
}

@media screen and (max-width: 1000px), (max-height: 500px) {
    div.opener-front {
        width: 850px;
    }
    div.opener-title-edit {
        width: 80%;
        grid-template-columns: auto;
    }
    div.opener-title-edit label {
        justify-self: left;
    }
    div.opener-title-edit input {
        width: 100%;
    }
    div.opener-settings {
        width: 90%;
    }
    div.opener-options-edit {
        grid-template-columns: auto auto;
        gap: 1em;
    }
    div.opener-options-edit label {
        justify-self: right;        
    }
    div.opener-options-buttons {
        grid-column: 1 / span 2;
    }
    button.opener-set, button.opener-apply {
        width: 120px;
    }
    div.opener-misc button {
        width: 150px;
        font-size: 125%;
    }
    div.opener-labels {
        width: 90%;
    }
    div.opener-labels-visible {
        top: 8%;
        height: min(400px, 78vh);;
    }
}