* {
    box-sizing: border-box;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma;
}

header {
    z-index: 1;
    position: relative;
    /* height: 10vh; */
}

nav {
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: 20% 80%;
    position: fixed;
    top: 0;
    left: 0;
    /* background: rgb(255, 225, 162); */
    background: rgba(3, 51, 95, 0.2);
    color: white;
    /* box-shadow: 0px 2px 20px black; */
    transition: 0.3s;
}

nav.scrolled {
    background: rgba(3, 51, 95, 0.8);
}

div#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

div#logo svg {transition: 0.3s;}

div#logo svg:hover {
    scale: 1.1;    
}

ul.menu {
    list-style-type: none;
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: right;
    align-items: center;
}

li.application {
    padding: 0 30px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    height: 75%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    transition: border 0.3s;
}

li.application:hover {
    border-bottom: 4px solid rgb(167, 195, 219);
}

li.settings {
    margin: 0 5vw;
    cursor: pointer;
}

li.settings svg {
    transition: 0.3s;
}

li.settings svg:hover {
    transform: rotate(45deg);
}

footer {
    background: rgb(3, 51, 95);
    color: white;
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 3em;
}

footer p.info {
    align-self: center;
}

footer img {
    width: 40px;
    height: 40px;
    float: right;
    border-radius: 50%;
    background: radial-gradient(closest-corner at 50% 55%,
    transparent 20px, #3d3dff 10px);
    transition: 0.5s;
}

footer img:hover {
    background: radial-gradient(closest-corner at 50% 55%,
    black 20px, #3d3dff 10px);
    box-shadow: 0 0 20px 5px black;
}

/* ^ główne ustawienia */
section {
    height: 440vh;
    position: relative;
}

div.frontpage {
    height: 100vh;
    width: 100%;
    /* background: linear-gradient(to bottom, black 20%, transparent 70%, black); */
    position: relative;
}

video#frontback {
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
    object-fit: cover;
}

div.fronttext {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 0%);
}

div.fronttext > h1 {
    color: white;
    font-size: 80px;
    text-shadow: 0px 0px 10px rgb(127, 150, 175);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
}

div.separator {
    height: 30vh;
    background: linear-gradient(to bottom, transparent 15%, black 50%);
}

div.choose {
    height: 40vh;
    background: rgb(3, 51, 95);
    display: flex;
    justify-content: center;
    align-items: center;
}

div.choose > h1 {
    color: white;
    font-size: 60px;
    text-shadow: 0px 0px 10px rgb(97, 113, 129);
}

div.applications {
    width: 100%;
    height: 270vh;
    background-color: #cccccc;
    background-image: url("img/background2.jpg");
    background-attachment: fixed;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* div.tlo {
    min-height: 500px;
    background-image: url("img/background2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

div.appcard {
    width: 65%;
    height: 58vh;
    /* background: white; */
    /* background: rgb(167, 195, 219); */
    background: linear-gradient(to right, rgb(167, 195, 219) 55%, white 70%);
    border-radius: 15px;
    display: grid;
    grid-template-columns: 60% 40%;
    box-shadow: 0px 0px 25px gray;
}

div.appdesc {
    /* background: gray; */
    padding: 5vw;
}

div.appdesc > h2 {
    margin: 1em 1em 1em 0;
    font-size: 40px;
    color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}

div.appdesc > button {
    width: 40%;
    padding: 1em;
    margin-top: 2em;
    border: none;
    border-radius: 40px;
    background: rgb(37, 122, 196);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

div.appdesc > button:hover {
    background: rgb(39, 130, 209);
}

div.appdesc > button:active {
    background: rgb(31, 101, 163);
}

div.appshow {
    /* background: yellow; */
    border-left: 1px solid black;
}

/* ^ strona główna */
div.settingspage {
    width: 40%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -40%;
    background: rgba(128, 128, 128, 0.5);
    color: white;
    z-index: 10;
    transition: 0.4s;
}

div.settings_visible {
    position: fixed;
    top: 0;
    left: 0;
}

div.settingspage svg#cross {
    position: absolute;
    top: 3%;
    right: 5%;
    cursor: pointer;
}

div.settingspage h2 {
    color: white;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 200%;
}

div.clickables {
    width: 70%;
    height: 20%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0%);
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    align-items: center;
    font-size: 200%;
}

div.clickables label {
    justify-self: left;
}

div.clickables input {
    justify-self: right;
}

input[type="checkbox"] {
    width: 40px;
    height: 40px;
}